body 
{
    background-color: #161748;
}
.center {
    width: 900px;
    margin: 0 auto;
}
.something {
    text-align: center;
    padding-top: 70px;
    font-family: 'Lobster', cursive;
    color: #39a0ca;
}
.comingsoon {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 200px;
}
.stay {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #39a0ca;
}
h1, a, a:hover {
    color: white;
}
.promo {
    width: 110px;
    margin-top: 7%;
    text-align: center;
    display: block;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    position: relative;
    font-size: 20px;
}
.promo::before {
    position: absolute;
    width: 100%;
    content: "";
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #39a0ca;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.promo:hover::before {
    visibility: visible;
    transform: scaleX(1);
}